
table {
    width: 100%;
    margin: 10px ;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 5px;
    text-align: left;
    border: 1px solid;
  }
  
  table th {
    background-color: #8458B3;
    text-align: center;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table td button {
    margin-right: 10px;
  }
  
  /* Table row actions buttons */
  table td button:first-child {
    background-color: #28a745; /* Edit button */
  }
  
  table td button:last-child {
    background-color: #dc3545; /* Delete button */
  }
  
input.search {
    width: 260px;
    border: 1px solid #a8a8a8 !important;
    height: 35px !important;
    border-radius: 20px;
    display: block;
    padding: 9px 4px 9px 40px;
  }
  