
table {
    width: 100%;
    margin: 10px ;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 5px;
    text-align: left;
    border: 1px solid;
  }
  
  table th {
    background-color: #8458B3;
    text-align: center;
  }
 /* Table row actions buttons */
  table td button:first-child {
    background-color: #28a745; /* Edit button */
  }
  
  table td button:last-child {
    background-color: #dc3545; /* Delete button */
  }
  
  .table-props {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40%;
  }
  
  