/* Header */
.header {
  box-sizing: border-box;
  background-color: #0e466b;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ecebeb;
  position: sticky;
  max-width: 100%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .profiles {
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
  }
}

/* Profiles */
.profiles {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profiles img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}

/* Search Box */
input.search-main {
  width: 100%;
  width: 260px;
  color: black;
  border: 2px solid white;
  height: 35px;
  border-radius: 20px;
  margin-left: -260px;
  padding: 9px 4px 9px 40px;
  background-color: #fff; /* Ensure background color is white */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M19.5 3C14.265 3 10 7.265 10 12.5c0 2.25.81 4.307 2.125 5.938L3.28 27.28l1.44 1.44l8.843-8.845C15.192 21.19 17.25 22 19.5 22c5.235 0 9.5-4.265 9.5-9.5S24.735 3 19.5 3m0 2c4.154 0 7.5 3.346 7.5 7.5S23.654 20 19.5 20S12 16.654 12 12.5S15.346 5 19.5 5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 13px center; /* Ensure the icon is positioned properly */
  background-size: 16px; /* Adjust the size of the search icon */
}

@media (max-width: 768px) {
  input.search-main {
    width: 100%;
    margin-bottom: 10px;
  }
}
